<div class="max-w-2xl mt-10 ml-10">
  <%= image_tag "Create_log.svg", class: "w-[400px] -ml-[30px]" %>

  <%= simple_form_for [@venue, @log] do |f| %>

    <div class="mb-4">
      <%= f.association :venue,
        collection: Venue.all,
        label_method: :name,
        value_method: :id,
        prompt: "Select a venue",
        input_html: { class: "w-full border rounded px-3 py-2" } %>

      <div class="flex items-center gap-2">
        <%= f.input :rating,
          input_html: {
            class: "w-full border rounded px-3 py-2",
            min: 0,
            max: 5
          } %>

        <span class="text-gray-500 whitespace-nowrap">
          out of 5
        </span>
      </div>

      <%= f.input :comment,
        as: :text,
        input_html: {
          class: "w-full border rounded px-3 py-2"
        } %>
    </div>

    <div class="flex justify-end gap-3">
      <%= link_to "BACK", root_path,
      class: "px-4 py-2 bg-gray-200 text-gray-800 rounded hover:bg-gray-300",
      style: "font-family: 'Londrina Solid', sans-serif"
      %>

      <%= f.submit "CREATE LOG",
        class: "px-4 py-2 text-white rounded cursor-pointer",
        style: "font-family: 'Londrina Solid', sans-serif; background-color: #4CAF50;" %>
    </div>

  <% end %>
</div>
